
/*header a img {
    width: 2.5rem;
    height: 1.5rem;
    margin-left: 1rem;
    margin-top: 1rem;
}

header img {
    width: 3rem;
    height: 2rem;
    margin-left: 22.7rem;
    margin-top: 1rem;
}

header h1 {
    margin-left: 26rem;
    font-size: 3rem ;
    font-family: Nunito;
    color: white;
}

.container .bar-object {
    background: white;
    width: 30rem;
    display: grid;
    justify-content: center;
}

.bar-object {
    margin-left: 3vw;
}*/

/*.container .header {
    height: 14rem;
    width: 100%;
    background: #6700B1;
    display: flex;
    align-items: center;
    justify-content: space-between;
    justify-items: center;
    border: 1px;
    border-radius: 0.8px;
}

.header a {
    height: 90%;
    margin-left: 0.5rem;
}


.header a img {
    width: 2rem;
    height: 2rem;
}

.header h1 {
    height: 90%;
    font: 3rem;
    font-family: "Nunito";
    color: white;
    text-shadow: black 1px 2px;
}

.header .image-icon {
    height: 90%;
}

.header img {
    height: 2rem;
    margin-right: 0.5rem;
}

.container .bar-object {
    width: 40%;
    justify-items: center;
}*/