@import url('https://fonts.googleapis.com/css2?family=Baloo+2:wght@400;500;600&family=Nunito:ital,wght@0,400;0,600;1,400;1,600&display=swap');

@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css');

* {
 margin: 0;
 padding: 0;   
}

body {
    width: 100vw;
    height: 100vh;
    background: linear-gradient(to right, black, rgb(44, 43, 43));
    overflow-x: hidden;
    overflow-y: scroll;
    
}

#container header {
    height: 25vh;
}

#container header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header {
    background: #4a00e0;
}

/*header a {
    margin-left: 8px;
    margin-top: 8px;
    margin-bottom: 17vh;
    width: 2rem;
    height: 1.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
} */

header .back {
    height: 95%;
    margin-left: 0.5rem;
}


header .back img{
    padding-top: 8px;
    padding-left: 8px;
    width: 2.5rem;
    height: 1.5rem;
   /* padding-left: 8px;
    width: 2.5rem;
    height: 1.5rem;
    transition-duration: 0.2s; */
 }

 header .back img:hover {
     opacity: 0.5;
 }

 header h1 {
     margin-bottom:15vh;
     font: 2rem;
     font-size: 3rem;
     font-family: "Nunito";
     color: white;
     text-shadow: black 1px 2px;  
 }

 header .img-icon .icon-academic img {
    padding-top: 3px;
    height: 2rem;
    margin-right: 1.55rem;
    margin-bottom: 17vh;
}

#container .plans {
    display: grid;
    grid-template-columns: 3fr 3fr 3fr;
    grid-template-rows: 2fr 2fr;
    column-gap: 40px;
    row-gap: 40px;
}

#container .plans .title {
    grid-row: 1 / span 2;
}

#container .plans .title {
    color:white;
}

#container .plans .title h1 {
    font-size:3.5rem;
    font-family: "Nunito";
    line-height: 60px;
    padding-top: 20px;
    padding-bottom: 50px;
    padding-left: 20px;
    text-transform: uppercase;
}

#container .plans .title p {
    font-size: 1.5rem;
    font-family: "Baloo 2";
    line-height: 20px;
    padding-bottom: 25px;
    padding-left: 20px;
}

.plans .plan1 {
    color: white;
    position: relative;
}

#container .plans .plan1 {
    padding-left: 5rem;
    padding-top: 4.01rem;
    display: grid;
    justify-items: center;
    align-content: center;
}

#container .plans .plan1 .cust1 {
    position: absolute;
    display: grid;
    align-content: center;
    color: white;
    background: #4a00e0;
    width: 180px;
    height: 180px;
    border: 1px;
    border-radius: 6rem;
    margin-left: 5rem;
    margin-top: 1.3rem;
    font-family: "Nunito";
    text-transform: uppercase;
}
.cust1 h1 {
    padding-left: 2rem;
    font-size: 0.9rem;
    letter-spacing: 0;
    text-shadow: black 0px 0px;
    font-weight: 900;
}

.cust1 p small {
    font-size: 0.8rem;
}

.cust1 p {
    padding-left: 1.5rem;
    letter-spacing: 0;
    font-size: 2.5rem;
}

.cust1 h2{
    font-size: 1rem;
    padding-left: 3.49rem;
}

#container .plans .plan1 .disc1 {
    padding-top: 10rem;
    padding-bottom: 8rem;
    padding-left: 15px;
    padding-right: 20px;    
    height: 16rem;
    width: 20rem;
    background: white;
    border-radius: 0.5rem;
    color: black;
    font-family: "Nunito";
    font-size: 1.1rem;
    font-weight: 900;
}

#container .plans .plan1 .disc1>p:not(:last-child) {
    border-bottom: 1px solid #E6E6EB;
    padding-bottom: 10px;
    padding-top: 10px;
    padding-left: 6px;
}

#container .plans .plan1 .disc1 .last-text1 {
    padding-top: 10px;
    padding-left: 6px;
    line-height: 20px;
}

/*apartir daqui é o 2*/

.plans .plan2 {
    color: white;
    position: relative;
}

#container .plans .plan2 {
    padding-left: 5rem;
    padding-top: 4rem;
    display: grid;
    justify-items: center;
    align-content: center;
}

#container .plans .plan2 .cust2 {
    position: absolute;
    display: grid;
    align-content: center;
    color: white;
    background: #4a00e0;
    width: 180px;
    height: 180px;
    border: 1px;
    border-radius: 6rem;
    margin-left: 6rem;
    margin-top: 1.3rem;
    font-family: "Nunito";
    text-transform: uppercase;
    margin-right: 38%;
}
.cust2 h1 {
    padding-left: 2.8rem;
    font-size: 0.9rem;
    letter-spacing: 0;
    text-shadow: black 0px 0px;
    font-weight: 900;
}

.cust2 p small {
    font-size: 0.8rem;
}

.cust2 p {
    padding-left: 1.5rem;
    letter-spacing: 0;
    font-size: 2.5rem;
}

.cust2 h2{
    font-size: 1rem;
    padding-left: 3.49rem;
}

#container .plans .plan2 .disc2 {
    padding-top: 10rem;
    padding-bottom: 8rem;
    padding-left: 15px;
    padding-right: 20px;    
    height: 16rem;
    width: 20rem;
    background: white;
    border-radius: 0.5rem;
    color: black;
    font-family: "Nunito";
    font-size: 1.1rem;
    font-weight: 900;
    margin-right: 75%;
}

#container .plans .plan2 .disc2 .acess {
    background: #4a00e0;
    color: white;
    padding: 5px;
    border-radius: 1.5rem;
    margin-bottom: 8px;
}

.plans .plan2 .disc2 .acess p {
    padding-left: 5px;
}

#container .plans .plan2 .disc2>p:not(:last-child) {
    border-bottom: 1px solid #E6E6EB;
    padding-bottom: 10px;
    padding-top: 10px;
    padding-left: 6px;
}

#container .plans .plan2 .disc2 .last-text2 {
    padding-top: 10px;
    padding-left: 6px;
    line-height: 20px;
}

/*apartir daqui é o 3*/

.plans .plan3 {
    color: white;
    position: relative;
}

#container .plans .plan3 {
    padding-left: 5rem;
    padding-top: 4rem;
    display: grid;
    justify-items: center;
    align-content: center;
}

#container .plans .plan3 .cust3 {
    position: absolute;
    display: grid;
    align-content: center;
    color: white;
    background: #4a00e0;
    width: 180px;
    height: 180px;
    border: 1px;
    border-radius: 6rem;
    margin-left: 5rem;
    margin-top: 1.3rem;
    font-family: "Nunito";
    text-transform: uppercase;
}
.cust3 h1 {
    padding-left: 2.6rem;
    font-size: 0.9rem;
    letter-spacing: 0;
    text-shadow: black 0px 0px;
    font-weight: 900;
}

.cust3 p small {
    font-size: 0.8rem;
}

.cust3 p {
    padding-left: 1.5rem;
    letter-spacing: 0;
    font-size: 2.5rem;
}

.cust3 h2{
    font-size: 1rem;
    padding-left: 3.37rem;
}

#container .plans .plan3 .disc3 {
    padding-top: 10rem;
    padding-bottom: 8rem;
    padding-left: 15px;
    padding-right: 20px;    
    height: 16rem;
    width: 20rem;
    background: white;
    border-radius: 0.5rem;
    color: black;
    font-family: "Nunito";
    font-size: 1.1rem;
    font-weight: 900;
}

#container .plans .plan3 .disc3 .acess {
    background: #4a00e0;
    color: white;
    padding: 5px;
    border-radius: 1.5rem;
    margin-bottom: 8px;
}

.plans .plan3 .disc3 .acess p {
    padding-left: 5px;
}

#container .plans .plan3 .disc3>p:not(:last-child) {
    border-bottom: 1px solid #E6E6EB;
    padding-bottom: 10px;
    padding-top: 10px;
    padding-left: 6px;
}

#container .plans .plan3 .disc3 .last-text3 {
    padding-top: 10px;
    padding-left: 6px;
    line-height: 20px;
}

/*Apartir daqui é o 4*/

.plans .plan4 {
    color: white;
    position: relative;
}

#container .plans .plan4 {
    padding-left: 5rem;
    padding-top: 4rem;
    display: grid;
    justify-items: center;
    align-content: center;
}

#container .plans .plan4 .cust4 {
    position: absolute;
    display: grid;
    align-content: center;
    color: white;
    background: #4a00e0;
    width: 180px;
    height: 180px;
    border: 1px;
    border-radius: 6rem;
    margin-left: 6rem;
    margin-top: 1.3rem;
    font-family: "Nunito";
    text-transform: uppercase;
    margin-right: 38%;
}
.cust4 h1 {
    padding-left: 2.8rem;
    font-size: 0.9rem;
    letter-spacing: 0;
    text-shadow: black 0px 0px;
    font-weight: 900;
}

.cust4 p small {
    font-size: 0.8rem;
}

.cust4 p {
    padding-left: 1.1rem;
    letter-spacing: 0;
    font-size: 2.5rem;
}

.cust4 h2{
    font-size: 1rem;
    padding-left: 3.49rem;
}

#container .plans .plan4 .disc4 {
    padding-top: 10rem;
    padding-bottom: 8rem;
    padding-left: 15px;
    padding-right: 20px;    
    height: 16rem;
    width: 20rem;
    background: white;
    border-radius: 0.5rem;
    color: black;
    font-family: "Nunito";
    font-size: 1.1rem;
    font-weight: 900;
    margin-right: 75%;
}

#container .plans .plan4 .disc4 .acess {
    background: #4a00e0;
    color: white;
    padding: 5px;
    border-radius: 1.5rem;
    margin-bottom: 8px;
}

.plans .plan4 .disc4 .acess p {
    padding-left: 5px;
}

#container .plans .plan4 .disc4>p:not(:last-child) {
    border-bottom: 1px solid #E6E6EB;
    padding-bottom: 10px;
    padding-top: 10px;
    padding-left: 6px;
}

#container .plans .plan4 .disc4 .last-text4 {
    padding-top: 10px;
    padding-left: 6px;
    line-height: 20px;
}