@import url('https://fonts.googleapis.com/css2?family=Baloo+2:wght@400;500;600&family=Nunito:ital,wght@0,400;0,600;1,400;1,600&display=swap');

@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css');

body {
    background: #232526;
    background: -webkit-linear-gradient(to right,#232526, black, #232526);
    background: linear-gradient(to right, #232526, black, #232526);
    width: 100vw over;
    height: 100vh;
}
.container {
    position: relative;
    display: grid;
}

* {
    margin: 0;
}

.container .header {
    width: 100%;
    height: 30vh;
    background: #4a00e0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    justify-items: center;
    position: relative;
}

.header a {
    height: 95%;
    margin-left: 0.5rem;
}

.header a img {
    padding-top: 8px;
    padding-left: 8px;
    width: 2.5rem;
    height: 1.5rem
}

.header h1 {
    height: 90%;
    font: 3rem;
    font-family: "Nunito";
    color: white;
    text-shadow: black 1px 2px;
}

.header .image-icon {
    height: 90%;
}

.header img {
    height: 2rem;
    margin-right: 0.5rem;
}

.bar-object {
    position: absolute;
    padding-top: 2%;
    padding-bottom: 2%;
    border-radius: 0.8rem;
    margin-left: 30%;
    margin-top: 20vh;
    background:white;
    width: 40vw;
    display: grid;
    align-items: center;
}
.bar-object legend {
    padding-left: 15px;
    font: 1.5rem;
    font-family: "Baloo 2";
}

.bar-object label {
    padding-left: 15px;
    font: 1.5rem;
    font-family: "Baloo 2";
}

.bar-object input {
    margin-bottom: 15px;
    height: 5vh;
    width: 37vw;
    border-radius: 0.3rem;
    border-width: 1px;
    border-color: black;
    padding-left: 5px;
}

.bar-object .date-bar input {
    height: 2rem;
    width: 31.8rem;
    padding-left: 3px;
}

.bar-object .sex-option {
    margin-bottom: 15px;
}

.bar-object .local select {
    margin-left: 15px;
    margin-bottom: 15px;
}

.bar-object .plan select {
    margin-left: 15px;
    margin-bottom: 15px;
}

.bar-object .plan a {
    text-decoration-line: none;
    font-size: 0.9rem;
}

.bar-object select {
    height: 1.5rem;
    width: 8rem;
}

.bar-object .avaliation-option {
    text-decoration-line: none;
    font-size: 1rem;
    font: 0.9rem;
    font-family: "Baloo 2";
    color: green;
    margin-top: 8px;
    margin-left:76.9%;
}

.bar-object .button-env {
    margin-left: 36%;
    width: 12vw;
    height: 6vh;
    font-size: 1.3rem;
    font: 0.9rem;
    font-family: "Baloo 2";
    border-radius: 0.3rem;
    border-width: 1px;
    border-color: black;
    background: #07c317;
    transition-duration: 0.2s;
    cursor: pointer;
}

.bar-object .button-env:hover {
    opacity: 0.8;
}